@use './variables' as vars;

@media screen and (max-width: 992px) {
  .saber-sidebar {
    position: fixed;
    top: 0;
    left: calc(-1 * #{vars.$sidebar_width});
    z-index: 1024;
  }

  .saber-shell--collapsed {
    .saber-sidebar {
      left: 0;
      width: vars.$sidebar_width;
    }

    .saber-logo {
      width: vars.$sidebar_width;
    }

    .saber-main {
      margin-left: vars.$sidebar_width;
    }
  }

  .el-dialog,
  .el-message-box {
    width: 98%;
  }

  .top-bar__item {
    display: none;
  }
}
